%% -*- mode: Erlang -*-
{erl_opts, [debug_info]}.
{deps, 
 [{ranch, ".*", {git, "git://github.com/ninenines/ranch", {tag, "1.7.1"}}}
 ]}.

{relx,
 [{release, {socks_er, "1"}, [socks_er, ranch]},
  {dev_mode, true},
  {include_erts, false},
  {sys_config, "./sys.config"},
  {vm_args, "./vm.args"},
  {extended_start_script, true}]}.


{profiles,
 [{prod,
   [{relx, 
     [{dev_mode, false},
      {include_erts, true}
     ]}
   ]}
 ]}.

{shell,
 [{config, "./sys.config"},
  {apps, [socks_er]}
 ]}.
